# OS
.DS_Store
Desktop.ini
Thumbs.db

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.iml
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# tar file.
*.tar.gz

# Prevent accidental node_modules installed at root.
node_modules/
package.json
yarn.lock
package-json.lock

# Log output
*.out
*.log

# Output of the go coverage tool, specifically when used with LiteIDE
coverage.xml
coverage.json
coverage.out
junit.xml
allure*

# binaries
cmd/asynqmon/asynqmon
dist/
bin/
output/

# Editor configs
.idea/
.vscode/
.editorconfig
venv/


# Go workspace
go.work*
*local.yml
.mod-cache
/vendor
.go-version

# Docs
docs/themes/
docs/public/
docs/content/src-link
gen/

# Examples
examples/
example/

# Apollo backups
gofusion-app.json.json
gofusion-app.yaml.json
gofusion-test.txt.json